@{
    ViewBag.Title = "Home Page";
}

@model IEnumerable<SiteMonitoring.Models.CheckStatusInfo>
<div>
    <table class="table">
        <tr>
            <th>Site</th>
            <th>Is available</th>
        </tr>
        @foreach (var site in Model)
        {
            <tr>
                <td>@site.Url</td>
                <td>@site.IsAvailable</td>
            </tr>
        }
    </table>
</div>